.profile__info {
    display: flex;
    padding-left: 30px;
    align-items: baseline;
    text-overflow: ellipsis;
    max-width: 336px;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 880px) {
    .profile-info {
        padding-top: 22.25px;
        padding-bottom: 36px;
        max-width: 282px;
    }
}