.element__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/icons/like-white.svg);
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

}

.element__like:hover {
    opacity: 0.5;
}
